<% content_for :devise_form do %>

  <h2 class="heading text-3xl font-bold pt-4 mb-8">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-6">
      <%= f.label "Full name", class:"label" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"input" %>
    </div>

    <div class="mb-6">
      <%= f.label :house_number, class:"label" %>
      <%= f.number_field :house_number, class:"input" %>
    </div>

    <div class="mb-6">
      <%= f.label :street, class:"label" %>
      <%= f.select :street, street_options %>
    </div>

    <div class="mb-6">
      <%= f.label :email, class:"label" %>
      <%= f.email_field :email, autocomplete: "email", class:"input" %>
    </div>

    <div class="mb-6">
      <div class="flex">
        <%= f.label :password, class: "label" %>
        <% if @minimum_password_length %>
        <span class="text-xs pl-1 text-grey-dark"><em>(<%= @minimum_password_length %> characters minimum)</em></span>
        <% end %>
      </div>
      <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, class:"label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    </div>

    <div class="mb-0">
      <%= f.submit "Sign up", class: "btn btn-default" %>
    </div>

  <% end %>

  <div class="text-md text-blue-700 block md:hidden">
    <hr class="border mt-12" />

    <%= link_to "Sign in", new_user_session_path, class: "block py-2 mt-2 mb-0" %>
  </div>

<% end %>

<%= render "devise/shared/form_wrap" %>
