<!DOCTYPE html>
<html>
  <head>
    <title>Le Parc Tennis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>

  </head>

 <body class="bg-white">

  <% flash.each do |type, message| %>
    <% if type == "alert" %>
      <div class="bg-red-500">
        <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
    <% if type == "notice" %>
      <div class="bg-green-500">
        <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
  <% end %>

    <header class="mb-4">
      <nav class="flex text-left items-center justify-between flex-wrap bg-gray-100 py-3 px-8 text-gray-700 border-b border-gray-400">
        <div class="flex items-center flex-no-shrink mr-6">
          <%= link_to "Le Parc Tennis Reservations", root_path, class:"link text-xl tracking-tight font-semibold" %>
        </div>
        <div class="w-full hidden md:hidden sm:block sm:flex sm:flex-row sm:flex-1 sm:mt-0 text-center sm:text-left sm:justify-end items-center">
        <% if user_signed_in? %>
          <%= link_to "Users", users_all_path, class: "block mt-4 sm:inline-block sm:mt-0 sm:mr-4 mb-2 sm:mb-0 link" if admin?%>
          <%= link_to "Reservation", reservations_me_path, class: "block mt-4 sm:inline-block sm:mt-0 sm:mr-4 mb-2 sm:mb-0 link" %>
          <%= link_to "Update ", edit_user_registration_path, class: "block mt-4 sm:inline-block sm:mt-0 sm:mr-4 mb-2 sm:mb-0 link" %>
          <%= link_to "Guidelines", home_guidelines_path, class: "block mt-4 sm:inline-block sm:mt-0 sm:mr-4 mb-2 sm:mb-0 link" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-default mb-2 sm:mr-2 sm:mb-0 block" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class:"btn btn-default mb-2 sm:mr-2 sm:mb-0 block" %>
          <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default block" %>
        <% end %>
      </div>
        <div class="w-full hidden md:block md:flex md:flex-row md:flex-1 md:mt-0 text-center md:text-left md:justify-end items-center">
          <% if user_signed_in? %>
            <%= link_to "Users", users_all_path, class: "block mt-4 md:inline-block md:mt-0 md:mr-4 mb-2 md:mb-0 link" if admin?%>
            <%= link_to "My Reservation", reservations_me_path, class: "block mt-4 md:inline-block md:mt-0 md:mr-4 mb-2 md:mb-0 link" %>
            <%= link_to "Update Profile", edit_user_registration_path, class: "block mt-4 md:inline-block md:mt-0 md:mr-4 mb-2 md:mb-0 link" %>
            <%= link_to "Guidelines", home_guidelines_path, class: "block mt-4 md:inline-block md:mt-0 md:mr-4 mb-2 md:mb-0 link" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-default mb-2 md:mr-2 md:mb-0 block" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class:"btn btn-default mb-2 md:mr-2 md:mb-0 block" %>
            <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default block" %>
          <% end %>
        </div>
      </nav>
    </header>

    <main class="lg:px-10 px-4">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
